
<div class="margen-arriba">
    <div class="row justify-content-md-center text-center">

        <div class="col col-3 bg-white border-tabla1 habilidades">
            <i class="bi bi-device-hdd"></i>
            <h3>Intereses hacia el Back-End</h3>
            <p>
                Intereses de formación para el desarrollo Back-End
            </p>
            <p class="text-primary cabecera">
                Stack : Java, Ruby, Oracle
            </p>
            <p>Intereses: </p>

            <ul>
                <li>Django </li>
                <li>Flask</li>
                <li>Bottle</li>
                <li>CherryPy</li>
            </ul>

        </div>

        <div class="col col-3 bg-white border-tabla2 habilidades">
            <i class="bi bi-code-slash"></i>
            <h3>Intereses hacia el Front-End</h3>
            <p>
                Intereses de formación para el desarrollo Front-End
            </p>
            <p class="text-primary cabecera">
                Stack : Angular , React, Bootstrack
            </p>
            <p>Intereses: </p>

            <ul>
                <li>Uso de plantillas de SpringBot </li>
                <li>Integracion de Angular en java</li>
                <li>Integracion de React en java</li>
                <li>Integracion de Bootstrap en java</li>
            </ul>
        </div>

    </div>
</div>

